@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --background: oklch(0.9602 0.0102 311.1775);
  --foreground: oklch(0.3742 0.0288 252.5036);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3742 0.0288 252.5036);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3742 0.0288 252.5036);
  --primary: oklch(0.6918 0.1648 289.3582);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8949 0.0577 301.9068);
  --secondary-foreground: oklch(0.4473 0.0249 248.3824);
  --muted: oklch(0.9329 0.0392 303.4329);
  --muted-foreground: oklch(0.5521 0.0216 255.6024);
  --accent: oklch(0.9292 0.0283 318.6873);
  --accent-foreground: oklch(0.3742 0.0288 252.5036);
  --destructive: oklch(0.802 0.1086 14.0727);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8949 0.0577 301.9068);
  --input: oklch(0.8949 0.0577 301.9068);
  --ring: oklch(0.6918 0.1648 289.3582);
  --chart-1: oklch(0.6918 0.1648 289.3582);
  --chart-2: oklch(0.5877 0.2228 287.753);
  --chart-3: oklch(0.5217 0.2496 287.2396);
  --chart-4: oklch(0.4719 0.2421 286.7532);
  --chart-5: oklch(0.4165 0.2087 287.2477);
  --sidebar: oklch(0.8949 0.0577 301.9068);
  --sidebar-foreground: oklch(0.3742 0.0288 252.5036);
  --sidebar-primary: oklch(0.6918 0.1648 289.3582);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9292 0.0283 318.6873);
  --sidebar-accent-foreground: oklch(0.3742 0.0288 252.5036);
  --sidebar-border: oklch(0.8949 0.0577 301.9068);
  --sidebar-ring: oklch(0.6918 0.1648 289.3582);
  --font-sans: Outfit, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 2px 4px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 4px 6px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 8px 10px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.2);
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.9243 0.0361 266.6996);
  --card: oklch(0.2777 0.0284 302.8674);
  --card-foreground: oklch(0.9243 0.0361 266.6996);
  --popover: oklch(0.2777 0.0284 302.8674);
  --popover-foreground: oklch(0.9243 0.0361 266.6996);
  --primary: oklch(0.7718 0.1232 291.6823);
  --primary-foreground: oklch(0.2161 0.0061 56.0434);
  --secondary: oklch(0.3378 0.0416 304.1419);
  --secondary-foreground: oklch(0.8675 0.0088 247.9275);
  --muted: oklch(0.2777 0.0284 302.8674);
  --muted-foreground: oklch(0.7118 0.019 253.3868);
  --accent: oklch(0.38 0.0504 301.4489);
  --accent-foreground: oklch(0.8675 0.0088 247.9275);
  --destructive: oklch(0.802 0.1086 14.0727);
  --destructive-foreground: oklch(0.2161 0.0061 56.0434);
  --border: oklch(0.3378 0.0416 304.1419);
  --input: oklch(0.3378 0.0416 304.1419);
  --ring: oklch(0.7718 0.1232 291.6823);
  --chart-1: oklch(0.7718 0.1232 291.6823);
  --chart-2: oklch(0.6918 0.1648 289.3582);
  --chart-3: oklch(0.5877 0.2228 287.753);
  --chart-4: oklch(0.5217 0.2496 287.2396);
  --chart-5: oklch(0.4719 0.2421 286.7532);
  --sidebar: oklch(0.3378 0.0416 304.1419);
  --sidebar-foreground: oklch(0.9243 0.0361 266.6996);
  --sidebar-primary: oklch(0.7718 0.1232 291.6823);
  --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-accent: oklch(0.38 0.0504 301.4489);
  --sidebar-accent-foreground: oklch(0.8675 0.0088 247.9275);
  --sidebar-border: oklch(0.3378 0.0416 304.1419);
  --sidebar-ring: oklch(0.7718 0.1232 291.6823);
  --font-sans: Outfit, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 1px 2px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 2px 4px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 4px 6px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 10.1961% / 0.08),
    0px 8px 10px -5px hsl(0 0% 10.1961% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 10.1961% / 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
